#sidebar {
    -fx-background-color: #424242;
}
#home {
    -fx-background-color: #424242;
}
#search {
    -fx-background-color: #424242;
}
#download {
    -fx-background-color: #424242;
}
#queue {
    -fx-background-color: #424242;
}